*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(255,90,90);
}
#box{
    width: 100%;
    height: 100%;
    float: right;
    background-color: white;
}
#logo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: right;
    transform: translateY(22px);
    margin-right: 10px;
}
#text{
    line-height: 100px;
    padding: 0 10px;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
main{
    width: 100%;
    height: 555.4px;
    background-color: rgb(255,86,86);
    border-top: 1px solid black;
}
#select{
    width: 98.5%;
    height: 26px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 14px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
}
#main_box{
    text-align: center;
}
#code{
    width: 98.5%;
    height: 200px;
    margin-top: 20px;
    border-radius: 14px;
    border: 1px solid black;
    outline: none;
}
#value_code{
    width: 98.5%;
    height: 200px;
    margin-top: 20px;
    border-radius: 14px;
    background-color: white;
    border: 1px solid black;
    outline: none;
}
footer{
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: 1px solid black;
    margin-bottom: 50px;
}
#box1{
    width: 100%;
    height: 100%;
    text-align: center;
}
#me{
    padding: 10px 0;
    border-bottom: 2px solid red;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 2rem;
}
#text_me{
    text-align: center;
    font-family: sans-serif;
    padding-top: 10px;
}
#author{
    text-align: center;
}
a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}